# ========== Frontend .gitignore ==========

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
.cache/

# misc
.DS_Store
*.log

# env files
.env
.env.*
!.env.example
!.env.sample

# editor / IDE
.vscode/
.idea/