# ========== Backend .gitignore ==========

# dependencies
/node_modules
/dist
/build

# logs
logs/
*.log

# env files
.env
.env.*
!.env.example
!.env.sample

# database dumps
*.sql
*.sqlite
*.db
dump/
backups/

# misc
.DS_Store

# editor / IDE
.vscode/
.idea/